
*.jar
Backend/src/main/resources/application.properties
*.xml
*.jsp
*.iml
Backend/pom.xml
Backend/src/main/resources/application.properties
.DS_Store
Backend/pom.xml
Backend/src/main/resources/application.properties
