  #side_bar {
    position: absolute;
    width: 220px;
  }
  #side_bar .pro-sidebar {
    height: 100vh;
  }
  #side_bar .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }
  #side_bar .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  #side_bar .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  #side_bar .pro-sidebar-inner {
    background-color: white;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
  #side_bar .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #side_bar .pro-sidebar-inner .pro-sidebar-layout .maintext p {
    font-size: 20px;
    padding: 0 15px;
    color: #000;
    font-weight: bold;
  }
  #side_bar .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  #side_bar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
  }
  #side_bar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color:#F2B05E;
    color: #000;
  }
  #side_bar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }
  #side_bar .pro-sidebar-inner .pro-sidebar-layout .pro-inner-item .active {
    background-image: linear-gradient(0deg, #ff8c00 0%, #ffc072 100%);
  }

  .pro-sidebar .pro-menu {

  }
  #side_bar .logo {
    padding: 20px;
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }